<h1>Authenticate with Discord Server: <small> <%= title %></small></h1>
<p>
    The following information will be recorded: NetID, Discord ID, University Affiliation
</p>
<br/>
<h2>Server Info</h2>
<div style="display: inline-block;">
    <%- sanitizedHtmlDescription %>
</div>
<br/>
<br/>
<a class="ui positive right labeled icon button">
  <i class="right arrow icon"></i>
  Authenticate
</a>