DATABASE_URL=postgresql://dbuser:dbpassword@db:5432/postgresdb
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
APP_HOSTNAME=https://shib.sigpwny.com
JWT_SECRET=changeme123
SUPERADMIN_USER_IDS=181927679195480064